@charset 'utf-8' ;
html,
body,
div,
ul,li,
img{
	margin: 0;
	padding: 0;
}
.waterfall-item{
	position: absolute;
	width: 200px;
	padding: 4px;
	border: 1px solid #999;
}
.waterfall{
	position: relative;
}
.waterfall-item h2{
	margin: 5px 0;
}
.waterfall-item img{
	width: 100%;
}